<main class="px-3">
    <button class="btn btn-secondary my-3" (click)="goBack()">Back</button>

    <div class="container-fluid border border-dark p-4">
        <form [formGroup]="newPet" (ngSubmit)="onSubmit()">
            <div class="m-4">Add New Real Pet</div>
            <div class="row mx-4 d-flex justify-content-around">
                <div class="col-md-5 form-group">
                    <span >Pet Name: </span>
                    <span class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="pet_name">
                    </span>
                </div>
                <div class="col-md-5 form-group">
                    <span >Pet Species: </span>
                    <span class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="pet_species">
                    </span>
                </div>
            </div>
            <div class="row mx-4 d-flex justify-content-around">
                <div class="col-md-5 form-group">
                    <span >Pet Age: </span>
                    <span class="input-group mb-3">
                        <input type="number" class="form-control" formControlName="pet_age">
                    </span>
                </div>
                <div class="col-md-5 form-group">
                    <span >Pet Breed: </span>
                    <span class="input-group mb-3">
                        <input type="text" class="form-control" formControlName="pet_breed">
                    </span>
                </div>
            </div>
            <div class="row mx-4 d-flex justify-content-around">
                <div class="col-md-5 form-group">
                    <span >Pet Image: </span>
                    <span class="input-group mb-3">
                        <input type="file" class="file-input" id="upload_image_file" formControlName="pet_image" type="file"/>
                    </span>
                </div>
                <div class="col-md-5 form-group">
                    <span >Pet Type: </span>
                    <span class="input-group mb-3">
                        <div class="btn-group mx-2" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" formControlName="pet_type" value="real" id="btnradio1" autocomplete="off" checked>
                            <label class="btn btn-outline-primary" for="btnradio1">Real</label>
                            <input type="radio" class="btn-check" formControlName="pet_type" value="virtual" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">Virtual</label>
                        </div>
                    </span>
                </div>
            </div>
            <div class="row mx-4  d-flex justify-content-center">
                <div class="col-md-8 form-group">
                    <span >Pet Description: </span>
                    <span class="input-group mb-3">
                        <textarea name="pet_description" formControlName="pet_description" rows="5" cols="140"></textarea>
                    </span>
                </div>
            </div>
            <div class="row mx-4 px-5 d-flex justify-content-start">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success mx-2">Submit Pet</button>
                    <button type="button" (click)="clearForm()" class="btn btn-outline-secondary mx-2" disabled>Clear</button>
                </div>
            </div>
        </form>
    </div>

</main>
