
<main class="p-1">
    <div class="table-responsive my-5 p-5 border border-dark rounded-top">
        <span>User-Real-Pets</span>
        <table id="virtual_pets_table" class="table table-striped data-table" style="width: 100%">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Pet Id</th>
                    <th>Pet Name</th>
                    <th>Age</th>
                    <th>Species</th>
                    <th>Breed</th>
                    <th>Descripton</th>
                </tr>
            </thead>
            <tbody *ngIf="realPets">
                <ng-container *ngFor="let pet of realPets; let i = index;">
                    <tr>
                        <td routerLink="/pets/{{ pet.pet_id }}"><img src="data:image/png;base64,{{ pet.pet_image }}" alt="{{pet.pet_name}}"></td>
                        <td><button class="btn btn-primary" routerLink="/pets/{{ pet.pet_id }}">{{ pet.pet_id }}</button></td>
                        <td>{{ pet.pet_name }}</td>
                        <td>{{ pet.pet_age }}</td>
                        <td>{{ pet.pet_species }}</td>
                        <td>{{ pet.pet_breed }}</td>
                        <td style="width: 20%">{{ pet.pet_description }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</main>
