
<main class="p-3">
    <div class="table-responsive m-5 p-5 border border-dark rounded-top">
        <span>User-Real-Pets</span>
        <table id="virtual_pets_table" class="table table-striped data-table" style="width: 100%">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Pet Id</th>
                    <th>Pet Name</th>
                    <th>Age</th>
                    <th>Species</th>
                    <th>Breed</th>
                    <th>Descripton</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="btn btn-primary" routerLink="/pets/1">Pet with id</button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="realPets">
                <ng-container *ngFor="let pet of realPets; let i = index;">
                    <tr>
                        <td routerLink="/virtual_pets/{{ pet.id }}"><img [src]="pet.sprite" alt="pet.name"></td>
                        <td><button class="btn btn-primary" routerLink="/virtual_pets/{{ pet.id }}">{{ pet.id }}</button></td>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.age | number: '1.0-0' }}</td>
                        <td>{{ pet.species }}</td>
                        <td>{{ pet.breed }}</td>
                        <td style="width: 20%">{{ pet.description }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</main>
