<li *ngIf="!isLoggedIn" class="nav-item">
    <a id="login-navbar-link" class="nav-link fw-bold" (click)="open(content)">Login / Signup</a>
</li>

<ng-template #content let-modal>
    <div class="container d-inline" id="container" [ngClass]="{'right-panel-active':isRightPanelActive}">
        <div class="form-container sign-up-container">
            <form action="#">
                <h2>Create Account</h2>
                <input type="text" placeholder="First Name" name="SignupFirstName" [(ngModel)]="inputFirstName" required />
                <input type="text" placeholder="Last Name" name="SignupLastName" [(ngModel)]="inputLastName" required />
                <input type="text" placeholder="Username" name="SignupUsername" [(ngModel)]="inputUsername" required />
                <input type="email" placeholder="Email" name="SignupEmail" [(ngModel)]="inputEmail" required />
                <input type="password" placeholder="Password" name="SignupPassword" [(ngModel)]="signUpPassword" required />
                <button (click)="signUp()">Sign Up</button>
                <p *ngIf="signupSuccess" class="h5" style="color:green">Sign Up Successful!</p>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Sign in</h1>
                <input id="signin-username" type="email" placeholder="Username" name="SigninUsername" [(ngModel)]="inputUsername"/>
                <input id="signin-password" type="password" placeholder="Password" name="SigninPassword" [(ngModel)]="signInPassword"/>
                <button id="signin-submit-button"  (click)="signIn()">Sign In</button>
                <p *ngIf="loginSuccess" class="h5" style="color:green">Login Successful!</p>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <p>Already have an account?</p>
                <button class="ghost" id="signIn" (click)="rightPanelFalse()">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <p>Or create new account</p>
                <button class="ghost" id="signUp" (click)="rightPanelTrue()">Sign Up</button>
            </div>
            </div>
        </div>
    </div>
</ng-template>
  