<p>manager-dashboard works!</p>

<main>

    <div class="container-fluid m-5">

        <div class="row m-3">
            <div class="col-md-3 mb-3">
                <div id="blue-card-link" class="card text-white bg-primary h-100 text-center">
                    <div id="blue-card-header" class="card-header">Add</div>
                    <div class="card-body">
                        <h4 class="card-title">Add New Pet</h4>
                        <p class="card-text">Click here to add a new pet into the available pets for adoption.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div id="blue-card-link" class="card text-white bg-primary h-100 text-center">
                    <div id="blue-card-header" class="card-header">View</div>
                    <div class="card-body">
                        <h4 class="card-title">View Adoption requests</h4>
                        <p class="card-text">Click here to view the history of adoption requests including pending.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</main>