<main class="px-3">
    <button class="btn btn-secondary my-3" (click)="goBack()">Back</button>

    <div class="table-responsive p-4 border border-dark rounded-top">
        <span>Current User Adoption Requests</span>

        <div class="row">
            <div class="dropdown d-flex">
                <button class="btn btn-secondary ms-auto" type="button" id="dropdownFilterMenu" data-bs-toggle="dropdown" aria-expanded="false">
                    Filter by
                    <i class="bi bi-arrow-down-up"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownFilterMenu">
                    <li><a id="filter-all" class="dropdown-item" href="#">All</a></li>
                    <li><a id="filter-pending" class="dropdown-item" href="#">Pending</a></li>
                    <li><a id="filter-approved" class="dropdown-item" href="#">Approved</a></li>
                    <li><a id="filter-denied" class="dropdown-item" href="#">Denied</a></li>
                </ul>
            </div>
        </div>
        <table id="view_all_requests" class="table table-striped data-table" style="width: 100%">
            <thead>
                <tr>
                    <th>Request Details</th>
                    <th>Request Status</th>
                    <th>User Fullname</th>
                    <th>Pet Name</th>
                    <th>Pet Age</th>
                    <th>Pet Type</th>
                    <th>Pet Species</th>
                    <th>Pet Breed</th>
                    <th>Pet Image</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let request of adoptionRequests; let i = index;">
                    <tr>
                        <td><button class="btn btn-primary" routerLink="/adoption_request_details/{{ request.adoption_request_id }}"><i class="bi bi-journal-text"></i></button></td>
                        <td>{{ request.adoption_request_status.adoption_request_status }}</td>
                        <td>{{ request.adoption_request_user.first_name }} {{ request.adoption_request_user.last_name }}</td>
                        <td>{{ request.adoption_request_pet.pet_name }}</td>
                        <td>{{ request.adoption_request_pet.pet_age }}</td>
                        <td>{{ request.adoption_request_pet.pet_type.pet_type }}</td>
                        <td>{{ request.adoption_request_pet.pet_status.pet_status }}</td>
                        <td>{{ request.adoption_request_pet.pet_breed }}</td>
                        <td routerLink="/adoption_request_details/{{ request.adoption_request_id }}">
                            <img *ngIf="!(request.adoption_request_pet.pet_image==null)" src="data:image/png;base64,{{ request.adoption_request_pet.pet_image }}" alt="{{request.adoption_request_pet.pet_name}}">
                            <img *ngIf="(request.adoption_request_pet.pet_image==null)" alt="{{request.adoption_request_pet.pet_name}}">
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

</main>