<p>pets-table works!</p>
<div class="row">
    <div class="col-md-12 mt-5">
        <div class="card-header">
            Reimbursement Tickets
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dashboard_table" class="table table-striped data-table" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Pet Name</th>
                            <th>Age</th>
                            <th>Species</th>
                            <th>Breed</th>
                        </tr>
                    </thead>
                    <tbody id="dashboard_table_body">
                        <tr>
                            <td>
                                <img class="fit-picture" src="https://images.indianexpress.com/2021/04/puppy-1903313_1280.jpg" alt="pet 1 image" width="100" height="60">
                            </td>
                            <td>Marco</td>
                            <td>61</td>
                            <td>Edinburgh</td>
                            <td>Paid</td>
                            
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Image</th>
                            <th>Pet Name</th>
                            <th>Age</th>
                            <th>Species</th>
                            <th>Breed</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
