
<!-- Plug in navbar component here -->
<!-- <span>Navbar: </span>
<nav>
    <button class="btn btn-primary mx-3" routerLink="/dashboard">Dashboard</button>
    <button class="btn btn-primary mx-3" routerLink="/virtual_pets">Virtual Pets Table</button>
    <button class="btn btn-primary mx-3" routerLink="/manager_dashboard">Manager Dashboard</button>
    <button class="btn btn-primary mx-3" routerLink="/view_all_pets">Manager View all pets</button>
    <button class="btn btn-primary mx-3" routerLink="/view_all_requests">View all adoption requests</button>
</nav> -->
<!-- Plug in navbar component here -->
<app-navbartop></app-navbartop>
<app-offcanvas></app-offcanvas>
<router-outlet></router-outlet>
<!-- <app-pets-table></app-pets-table> -->