<main class="p-1">
    <div class="container-fluid">
        <div *ngIf="pet" class="row my-3 p-5 border border-dark">
            <div class="col-md-6 d-flex justify-content-center">
                <img *ngIf="!(pet.pet_image==null)" src="data:image/png;base64,{{ pet.pet_image }}" alt="{{pet.pet_name}}">
                <img *ngIf="(pet.pet_image==null)" alt="{{pet.pet_name}}">
            </div>
            <div class="col-md-6">
                <div class="container-fluid">
                    <div class="p-2">
                        <span class="col-md-3">Pet Name: </span>
                        <span class="input-group mb-3 col-md-3">
                            <input type="text" class="form-control" [value]="pet.pet_name" disabled>
                        </span>
                    </div>
                    <div class="p-2">
                        <span class="col-md-3">Pet Age: </span>
                        <span class="input-group mb-3 col-md-3">
                            <input type="text" class="form-control" [value]="pet.pet_age" disabled>
                        </span>
                    </div>
                    <div class="p-2">
                        <span class="col-md-3">Pet Species: </span>
                        <span class="input-group mb-3 col-md-3">
                            <input type="text" class="form-control" [value]="pet.pet_species" disabled>
                        </span>
                    </div>
                    <div class="p-2">
                        <span class="col-md-3">Pet Breed: </span>
                        <span class="input-group mb-3 col-md-3">
                            <input type="text" class="form-control" [value]="pet.pet_breed" disabled>
                        </span>
                    </div>
                    <div class="p-2">
                        <span class="col-md-3">Pet Description: </span>
                        <span class="input-group mb-3 col-md-3">
                            <textarea class="form-control" cols="30" rows="5" [value]="pet.pet_description" disabled>
                            </textarea>
                        </span>
                    </div>
                    <div class="p-2 d-flex justify-content-between">
                        <button *ngIf="!showAdoption" class="btn btn-outline-success" (click)="showAdoptionRequest()">Make Adoption Request</button>
                        <button *ngIf="showAdoption" class="btn btn-outline-danger" (click)="hideAdoptionRequest()">Close</button>
                        <button class="btn btn-secondary" (click)="goBack()">Back</button>
                    </div>
                    <div *ngIf="showAdoption" class="p-2">
                        <span class="col-md-3">Adoption request description: </span>
                        <span class="input-group mb-3 col-md-3">
                            <textarea class="form-control" cols="30" rows="5" id="requestDescription" [(ngModel)]="requestDescription">
                            </textarea>
                        </span>
                        <button class="btn btn-success" (click)="submitRequest()">Submit Request</button>
                        <p *ngIf="submitSuccess" style="color:darkgreen"> submit successfully ! </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
