<main class="p-5">

    <div class="container-fluid">

        <div class="row m-3 search-trim">
            <div>Search Real Pets</div>
            <div class=" p-3 border border-secondary">
                <span class="m-2">Filter: </span>
                <div class="btn-group mx-2" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">All</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Dogs</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Cats</label>
                </div>
                <span class="m-2">Age:</span>
                <input class="mx-2" type="number" min="1" max="30">

                <button class="mx-5 btn btn-primary" disabled>Search</button>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                <div routerLink="/pets/real" class="card text-white bg-primary h-100">
                    <!-- <a id="blue-card-link" href="#"> -->
                    <!-- <div id="blue-card-header" class="card-header text-center">Add</div> -->
                    <div class="card-body">
                        <h5 class="card-title text-center">Browse Real Pets</h5>
                        <!-- <p class="card-text">Click here to start a new ticket for expense reimbursement.</p> -->
                    </div>
                    <!-- </a> -->
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div routerLink="/pets/virtual" class="card text-white bg-success h-100">
                    <!-- <a id="blue-card-link" href="#"> -->
                    <!-- <div id="blue-card-header" class="card-header text-center">Add</div> -->
                    <div class="card-body">
                        <h5 class="card-title text-center" routerLink="/virtual_pets">Browse Virtual Pets</h5>
                        <!-- <p class="card-text">Click here to start a new ticket for expense reimbursement.</p> -->
                    </div>
                    <!-- </a> -->
                </div>
            </div>
        </div>

    </div>

</main>