<div class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        </div>
        <!-- p-0 -->
        <div class="offcanvas-body">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <!-- Dashboard -->
                    <li *ngIf="!isManager">
                        <a routerLink="/dashboard" class="nav-link px-3">
                            <span class="me-2">
                                <i class="bi bi-speedometer2"></i>
                            </span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li *ngIf="isManager">
                        <a routerLink="/manager_dashboard" class="nav-link px-3">
                            <span class="me-2">
                                <i class="bi bi-speedometer2"></i>
                            </span>
                            <span>Manager Dashboard</span>
                        </a>
                    </li>
                    <li class="my-3">
                        <hr class="dropdown-divider">
                    </li>
                    <li *ngIf="isManager">
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#managerPetsCollapse"
                            role="button" aria-expanded="false" aria-controls="managerPetsCollapse">
                            <span class="me-2">
                                <i class="bi bi-briefcase"></i>
                            </span>
                            <span>Manager Pets</span>
                            <span class="right-icon ms-auto">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="collapse" id="managerPetsCollapse">
                            <ul class="navbar-nav ps-3">
                                <li id="offcanvas-add-link">
                                    <a routerLink="/add_pet" class="nav-link ps-3">
                                        <span class="me-2">
                                            <i class="bi bi-plus-circle"></i>
                                        </span>
                                        <span>Add Pet</span>
                                    </a>
                                </li>
                                <li id="offcanvas-view-link">
                                    <a routerLink="/view_all_pets" class="nav-link ps-3">
                                        <span class="me-2">
                                            <i class="bi bi-stack"></i>
                                        </span>
                                        <span>View all Pets</span>
                                    </a>
                                </li>
                                <li id="offcanvas-view-link">
                                    <a routerLink="/virtual_pets" class="nav-link ps-3">
                                        <span class="me-2">
                                            <i class="bi bi-stack"></i>
                                        </span>
                                        <span>New Virtual Pets</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li *ngIf="isManager">
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#adoptionRequestCollapse"
                            role="button" aria-expanded="false" aria-controls="adoptionRequestCollapse">
                            <span class="me-2">
                                <i class="bi bi-briefcase"></i>
                            </span>
                            <span>Manager Adoption Requests</span>
                            <span class="right-icon ms-auto">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="collapse" id="adoptionRequestCollapse">
                            <ul class="navbar-nav ps-3">
                                <li id="offcanvas-add-link">
                                    <!-- DISABLED -->
                                    <a class="nav-link ps-3 disabled" aria-disabled="true">
                                        <span class="me-2">
                                            <i class="bi bi-plus-circle"></i>
                                        </span>
                                        <span>Pending requests</span>
                                    </a>
                                </li>
                                <li id="offcanvas-view-link">
                                    <a routerLink="/view_all_requests" class="nav-link ps-3">
                                        <span class="me-2">
                                            <i class="bi bi-stack"></i>
                                        </span>
                                        <span>View all requests</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li *ngIf="isManager" class="my-3">
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a id="offcanvas-pets-button" class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#petsCollapse"
                            role="button" aria-expanded="false" aria-controls="petsCollapse">
                            <span class="me-2">
                                <i class="bi bi-briefcase"></i>
                            </span>
                            <span>Pets</span>
                            <span class="right-icon ms-auto">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="collapse" id="petsCollapse">
                            <ul class="navbar-nav ps-3">
                                <li id="offcanvas-add-link">
                                    <a id="offcanvas-real-pets-button" routerLink="/pets/real" class="nav-link ps-3">
                                        <span class="me-2">
                                            <i class="bi bi-plus-circle"></i>
                                        </span>
                                        <span>Real Pets</span>
                                    </a>
                                </li>
                                <li id="offcanvas-view-link">
                                    <a id="offcanvas-virtual-pets-button" routerLink="/pets/virtual" class="nav-link ps-3">
                                        <span class="me-2">
                                            <i class="bi bi-stack"></i>
                                        </span>
                                        <span>Virtual Pets</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li *ngIf="isLoggedIn">
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#adoptionCollapse"
                            role="button" aria-expanded="false" aria-controls="adoptionCollapse">
                            <span class="me-2">
                                <i class="bi bi-briefcase"></i>
                            </span>
                            <span>Adoption</span>
                            <span class="right-icon ms-auto">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="collapse" id="adoptionCollapse">
                            <ul class="navbar-nav ps-3">
                                <li id="offcanvas-add-link">
                                    <!-- TODO: add variable for user ID in link -->
                                    <a routerLink="/adoption_request/{{ currentUser.user_id }}" class="nav-link ps-3">
                                        <span class="me-2">
                                            <i class="bi bi-plus-circle"></i>
                                        </span>
                                        <span>My Adoption Requests</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>